/* Enter your custom styles here */
.shortpoint-editor {
    resize: none;
    width: calc(100% - 4px);
    background: transparent;
    color: black;
    overflow: hidden;
    border: medium none;
}

.shortpoint-edit-toolbar {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	z-index: 1000;
}

.shortpoint-editor-on .shortpoint-edit-toolbar {
	display: block;
}

.shortpoint-edit-toolbar button {
	float: right;
	margin-right: -1px;
	margin-top: -1px;
}

.shortpoint-hidden-div {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}